.php-ini
.php-version
httpdocs/*
docker_instances/*/.python-version
docker_instances/*/.venv
docker_instances/*/output
docker_instances/*/__pycache__
.venv
raw_scripts/
.DS_Storebase_images/generic_scraper/__pycache__/
